
.fl{float: left;}
.fr{float: right;}

li{list-style-type :none;}

.whole{
    background-color:lightseagreen;
    margin: 0 auto;

}
.blacksuit{
    height: 50px;
    background-color: black;
}
.header{
    width: 1400px;
    height: 50px;
    margin: 0 auto;
}

.header .nav ul li{
    float:left;/*让li元素左浮动*/
}
.header .nav ul li a{
    width:80px;/*设置元素宽为80px*/
    color:#FFF;/*文字颜色是白色*/
    font-size:16px;/*用12号字*/
    display:block;/*这个比较关键，因为a本身就是联级元素，本身不具有宽高，用这个把它变成块级元素，这样前面设置的宽和高就能起作用了*/
    text-align:center;/*让文本居中*/
    text-decoration:none; /*去掉下划线*/
    position: relative;
    top: 20%;
}

.middle{
    height:650px;
}
.middle .middle1{
    height: 250px;
}
.middle .middle1 .title{
    color: #FFFFFF;
    font-size: 50px;
    text-align: center;
    text-shadow: 4px 6px 3px #000000;
}

.middle .middle1 .entitle{
    color: #FFFFFF;
    font-size: 35px;
    text-align: center;
}
.middle .middle1 .underline{
    width:30%;
    height: 10px;
    background-color: azure;
    position: relative;
    left: 35%;
    top: 5%;
}

.middle .middle2{
    height: 200px;
}
.middle .middle2 .pickbox{
    width: 750px;
    height: 140px;
    background-color: azure;
    margin: 0 auto;
    position: relative;
    top: 10%;

}
.middle .middle2 .pickbox .upload{
    width: 250px;
    height: 140px;
    float: left;
}
.middle .middle2 .pickbox .transfer{
    width: 250px;
    height: 140px;
    float: left;

}
.middle .middle2 .pickbox .download{
    width: 250px;
    height: 140px;
    float: left;
}
.middle .middle3 .sentence{
    position: relative;
    top: 10%;
    text-align: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
}
.middle .middle3{
    height: 200px;
}
.footer{
    height:200px;
}
.footer .packer{
    height:30px;
    background-color: black;
}
.footer .packer .container{
    width:800px;
    height: 30px;
    margin: 0 auto;
    color: white;
}
.footer .packer .container .footer_down{
    font-style: italic;
}
