
.middle{
    width:600px;
    height:650px;
    margin: 0 auto;
    text-align:center;
}

.middle .middle1{
    width:300px;
    height: 50px;
    margin: 0 auto;
    text-align:center;

    font-size:38px;
    font-weight:bold;
}

.middle .middle2{
    width:320px;
    margin: 0 auto;
    text-align:center;
}

.middle .middle2 .kuang{
    width :340px;
    height: 35px;
}
.middle .middle2 .kuang .labeling{
    font-size: 20px;
    font-weight: bold;
    width: 70px;
}

.middle .middle2 .kuang .inputBox{
    font-size: 20px;
    width: 220px;
}

/* 登录注册按钮 */
.middle .middle2 .anniu{
    height:40px;
    width:250px;
    margin-left: 55px;
    margin-top: 15px;
}

.middle .middle2 .anniu_small{
    height:40px;
    width:120px;
}
.middle .middle2 .anniu_small .register-botton{
    font-weight:bold;
    background-color: #1B9AF7;
    color: white;
}

/* footer */
.footer{
    height:200px;
}
.footer .packer{
    height:30px;
    background-color: black;
}
.footer .packer .container{
    width:800px;
    height: 30px;
    margin: 0 auto;
    color: white;
}
.footer .packer .container .footer_down{
    font-style: italic;
}

/*else*/
.stroke{
    color: transparent;
    -webkit-text-stroke: 1px black;
    letter-spacing: 0.04em;
}

.vintage {
    background: #EEE url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQImWNkYGBgYGD4//8/A5wF5SBYyAr+//8PAPOCFO0Q2zq7AAAAAElFTkSuQmCC) repeat;
    text-shadow: 5px -5px black, 4px -4px white;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}