
.bp{
    height: 41px;
}


/* coco */
.coco{
    width:800px;
    height:600px;
    margin: 0 auto;
}

.coco .infoma{
    width: 360px;
    background-color: #DDDDDD;
    border:20px solid hsla(0,0%,100%,.5);
    height:220px;
}
.coco .infoma .selfin .lll{
    width: 100px;
    font-weight: bold;
    font-size: 30px;
    height:40px;
}

.coco .infoma .selfin .rrr{
    position: relative;
    left: 10px;
    font-size: 30px;
    height:40px;
}
.coco .infoma .change2{
    height:100px;
}

.coco .infoma .change2 .mm{
    margin: 0 auto;
    text-align: center;
}

.coco .account{
    width: 360px;
    background-color: #DDDDDD;
    height:220px;
    border:20px solid hsla(0,0%,100%,.5);
}

.coco .account .account_title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    height:50px;
}
.coco .account_balance{
    font-weight: bold;
    font-size: 30px;
    height:70px;
}

.coco .account_balance .rrr{
    position: relative;
    left: 10px;
    font-size: 30px;
    height:40px;
    color: #5e53e4;
}

.coco .account_mm .account_mm_charge{
    margin: 0 auto;
    text-align: center;
    height:100px;

}

.coco .logout{
    margin: 0 auto;
    text-align: center;
    position:relative;
    top:20px;
}


/* footer */
.footer{
    height:200px;
}
.footer .packer{
    height:30px;
    background-color: black;
}
.footer .packer .container{
    width:800px;
    height: 30px;
    margin: 0 auto;
    color: white;
}
.footer .packer .container .footer_down{
    font-style: italic;
}
