<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/buttons.css">
    <script src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/forget.js"></script>
    <link rel="stylesheet" href="/static/css/login.css" >
    <link rel="stylesheet" href="/static/css/common.css" >
</head>

<body>
<div class="whole">
    <div class="blacksuit">
        <div class="header">
            <div class="nav fl">
                <ul>
                </ul>
            </div>
            <div class="nav fr">
                <ul>
                    <li><a href="/home">首页</a></li>
                    <li><a href="/intro">产品介绍</a></li>
                    <li><a href="/team">团队</a></li>
                    <li><a href="/help">帮助</a></li>
                </ul>
            </div>
        </div>
    </div>



    <!--主要部分-->
    <div class="middle">
        <div style ="height:50px"></div>
        <div class = "middle1">
            找回密码
        </div>
        <div style ="height:20px"></div>
        <div class = "middle2">
            <form action="/register/retrieve" method="post">
                <div class = "kuang">
                    <label class ="labeling fl">邮箱</label>
                    <input class = "inputBox fl" name = "email" type = "text" placeholder="注册的邮箱">
                </div>
                <div class="anniu">
                    <div class = "anniu_small fr">
                        <input type = "submit" class = "button button-3d button-pill" style="font-weight:bold"  value="下一步">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--脚标-->
    <div class="footer">
        <div class="packer">
            <div class = "container">
                <div class = "footer_upper fl">
                    <strong>北京外国语大学信息科学技术学院大创团队研发</strong>
                </div>
                <div class = "footer_down fr">
                    <strong>from 2020 to 2020</strong>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>