<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>HELP</title>
    <link rel="stylesheet" href="/static/css/help.css" >
</head>
<body>
<div class="whole">
    <div class="blacksuit">
        <div class="header">
            <div class="nav fl">
                <ul>
                    <li>
                        <text style="color: white">Hello~ </text>
                    </li>
                </ul>
            </div>
            <div class="nav fr">
                <ul>
                    <li><a href="/home">首页</a></li>
                    <li><a href="#">产品介绍</a></li>
                    <li><a href="/pages/team">团队</a></li>
                    <li><a href="/pages/help">帮助</a></li>
                    <li><a href="/pages/self">个人中心</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bp"></div>
    <div class = "selfCen">
        使用帮助
    </div>
    <!--主要部分-->
    <div>

    </div>
    <div class = "footer">
        Copyright © 2020 BFSU All Right Reserved
    </div>

</div>
</body>
</html>