<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<title>BFSU-CS-MIR</title>
		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script type="text/javascript" src="/static/js/index.js"></script>
		<link rel="stylesheet" href="/static/css/index.css" >
		<link rel="stylesheet" href="/static/css/buttons.css">
		<link rel="stylesheet" href="/static/css/common.css" >
	</head>

	<body>
	<div class="whole">
		<div class="blacksuit">
			<div class="header">
				<div id="melo" class="nav fl">
					<!--ul>
                        <li><a href="/pages/login">登录</a></li>
                        <li><a href="/pages/register">注册</a></li>
                    </ul-->
				</div>
				<div class="nav fr">
					<ul>
						<li><a href="#">首页</a></li>
						<li><a href="/intro">产品介绍</a></li>
						<li><a href="/team">团队</a></li>
						<li><a href="/help">帮助</a></li>
						<li><a href="/self">个人中心</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="middle">
			<div class = "middle1">
				<div style="height: 50px;"></div>
				<div class="title"><strong>在线人声伴奏分离</strong></div>
				<br>
				<div class="entitle">Music Source Separation</div>
				<div class="underline"></div>
			</div>

			<div class = "middle2">
				<div class="pickbox">
					<div class="upload">
						<input type="file" class ="file" name="file" style="color: transparent; width:60px;"><br>
					</div>
					<div class="transfer">
						<form method="post" action="/getMusicFile" enctype="multipart/form-data">
							<a href = "/getMusicFile" class="button button-3d button-caution" style="align-self: center; font-weight:bold;">Transfer！</a>
						</form>
					</div>
					<div class="download">
						<form method="get">
							<a href = "/downloadTracks" class="button button-3d button-primary button-rounded" style="align-self: center; font-weight:bold;">download!</a>
						</form>
					</div>
				</div>
			</div>

			<div class = "middle3">
				<div class="sentence">
					本项目拟从深度学习的角度搭建合适的模型来完成高效高质量的人声伴奏提取，以推动音乐产业、音乐教育、外语教育的发展。
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="packer">
				<div class = "container">
					<div class = "footer_upper fl">
						<strong>北京外国语大学信息科学技术学院大创团队研发</strong>
					</div>
					<div class = "footer_down fr">
						<strong>from 2020 to 2020</strong>
					</div>
				</div>
			</div>
		</div>
	</div>

	</body>
</html>