<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>INSTRUCTIONS</title>
    <link rel="stylesheet" href="/static/css/buttons.css">
    <link rel="stylesheet" href="/static/css/index.css" >
    <link rel="stylesheet" href="/static/css/intro.css" >
</head>
<body>
    <div class="whole">
        <div class="blacksuit">
            <div class="header">
                <div class="nav fl">
                    <ul>
                        <li>
                            <text style="color: white">Hello~ Mr.</text>
                        </li>
                        <li>
                            <text style="color: white" th:utext="${uinfo.getNickName()}"></text>
                        </li>
                    </ul>
                </div>
                <div class="nav fr">
                    <ul>
                        <li><a href="/pages/index">首页</a></li>
                        <li><a href="/pages/intro">产品介绍</a></li>
                        <li><a href="/pages/team">团队</a></li>
                        <li><a href="/pages/help">帮助</a></li>
                        <li><a href="/pages/self">个人中心</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bp"></div>
        <div class = "selfCen">
                团队介绍
            </div>
        <div class="bp"></div>




        <div class="head-text">
                <h1>Simple Profile Widget</h1>
            </div>
        <div class="login">
                <div class="header">
                    <div class="text">
                        <img src="images/men1.jpg" alt="" />
                        <h2>Hugh Jackman</h2>
                        <a href="mailto:info@example.com"><p>@Lorem ipsum</p></a>
                    </div>
                </div>
                <div class="followers">
                    <div class="f-left f-1">
                        <a href="#"><span class="f1"></span></a>
                    </div>
                    <div class="f-left f-middle">
                        <a href="#"><span class="f2"></span></a>
                    </div>
                    <div class="f-left f-right">
                        <a href="#"><span class="f3"></span></a>
                    </div>
                    <div class="clear"></div>
                </div>
                <ul class="content">
                    <li class="menu">
                        <ul>
                            <li class="button"><a href="#">Messages<span class="icon stat"> </span><i>13</i></a></li>
                            <li class="dropdown">
                                <ul class="icon-navigation">
                                    <li><a href="#">Inbox<span>[09]</span></a></li>
                                    <li><a href="#">Outbox<span>[01]</span></a></li>
                                    <li><a href="#">Sent messages<span>[03]</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu">
                        <ul>
                            <li class="button"><a href="#">Profile<span class="icon"> </span></a></li>
                            <li class="dropdown">
                                <ul class="icon-navigation">
                                    <li><a href="#">Change your pic</a></li>
                                    <li><a href="#">Change your username</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Contact me</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
    </div>
</body>
</html>