<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>INSTRUCTIONS</title>
    <link rel="stylesheet" href="/static/css/intro.css" >
    <link rel="stylesheet" href="/static/css/common.css" >
</head>
<body>
    <div class="whole">
        <div class="blacksuit">
            <div class="header">
                <div class="nav fl">
                    <ul>
                        <li>
                            <text style="color: white">Hello~ </text>
                        </li>
                    </ul>
                </div>
                <div class="nav fr">
                    <ul>
                        <li><a href="/home">首页</a></li>
                        <li><a href="#">产品介绍</a></li>
                        <li><a href="/team">团队</a></li>
                        <li><a href="/help">帮助</a></li>
                        <li><a href="/self">个人中心</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bp"></div>
        <div style="height:30px"></div>
        <div class = "selfCen">
                项目介绍
        </div>
        <!--主要部分-->
        <div>

        </div>
        <div class = "footer">
            Copyright © 2020 BFSU All Right Reserved
        </div>

    </div>
</body>
</html>