<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/static/css/buttons.css">
        <script src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/login.js"></script>
        <link rel="stylesheet" href="/static/css/login.css" >
    </head>

    <body style="overflow:scroll;overflow-y:hidden">
    <div class="whole">
        <!--抬头黑框-->
        <div class="blacksuit">
            <div class="header">
                <div class="nav fl">
                    <ul>
                        <!--li><a href="/pages/login">登录</a></li>
                        <li><a href="/pages/register">注册</a></li-->
                    </ul>
                </div>
                <div class="nav fr">
                    <ul>
                        <li><a href="/home">首页</a></li>
                        <li><a href="/intro">产品介绍</a></li>
                        <li><a href="/team">团队</a></li>
                        <li><a href="/help">帮助</a></li>
                        <li><a href="/self">个人中心</a></li>
                    </ul>
                </div>
            </div>
        </div>



        <!--主要部分-->
        <div class="middle">
            <div style ="height:50px"></div>
            <div class = "middle1 vintage">
                LOGIN
            </div>
            <div style ="height:20px"></div>
            <div class = "middle2">
                <div class = "kuang">
                    <label class ="labeling fl">账号</label>
                    <input class = "inputBox fl" name = "userid" type = "text" placeholder="输入账号">
                </div>
                <div class = "kuang">
                    <label class ="labeling fl">密码</label>
                    <input class = "inputBox fl" name = "password" type = "password" placeholder="输入密码">
                </div>
                <div class = "kuang">
                    <label class ="labeling fl">验证码</label>
                    <input class = "inputBox fl" name = "verifyCode" type = "text" placeholder="输入验证码">
                </div>
                <div class = "kuang">
                    <label class ="labeling fl" style="color:rgba(220,38,38,0)">.</label>
                    <img onclick="javascript:getvCode()" id="verifyimg" style="margin-left: 5px;"/>
                    <div></div>
                </div>
                <div>
                    <input id = "submitTo" type = "submit" class = "button button-3d button-pill" style="font-weight:bold" value="登录">
                </div>
                <div id = "responseFuck">
                </div>
            </div>
        </div>
        <!--脚标-->
        <div class="footer">
            <div class="packer">
                <div class = "container">
                    <div class = "footer_upper fl">
                        <strong>北京外国语大学信息科学技术学院大创团队研发</strong>
                    </div>
                    <div class = "footer_down fr">
                        <strong>from 2020 to 2020</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>

<script type="text/javascript">
    getvCode();

    /**
     * 获取验证码
     * 将验证码写到login.html页面的id = verifyimg 的地方
     */
    function getvCode() {
        document.getElementById("verifyimg").src = timestamp("/verifyCode");
    }
    //为url添加时间戳
    function timestamp(url) {
        var getTimestamp = new Date().getTime();
        if (url.indexOf("?") > -1) {
            url = url + "&timestamp=" + getTimestamp
        } else {
            url = url + "?timestamp=" + getTimestamp
        }
        return url;
    };
</script>