<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class = "conRight fr">
        <div class = "btnBox">
            <input type = "text" placeholder="输入手机号" class = "fl inputBox1">
            <p class = "fl">
                <input type = "text" placeholder="验证码" class = "inputBox2">
                <a href="" style = "margin-right: 15px;">验证</a>
            </p>
            <input type = "submit" value="登陆" class = "fl inputBox3">
        </div>
    </div>
</body>
</html>