<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>个人中心</title>
        <link rel="stylesheet" href="/static/css/buttons.css">
        <link rel="stylesheet" href="/static/css/register.css">
        <link rel="stylesheet" href="/static/css/style3.css" />
        <link rel="stylesheet" href="/static/css/index.css" >
        <link rel="stylesheet" href="/static/css/self.css" >
    </head>
    <body style="overflow:scroll;overflow-y:hidden">
            <div class="whole">
                <div class="blacksuit">
                    <div class="header">
                        <div class="nav fl">
                            <ul>
                                <li>
                                    <text style="color: white">Hello~ Mr.</text>
                                </li>
                                <li>
                                    <text style="color: white" th:utext="${uinfo.getNickName()}"></text>
                                </li>
                            </ul>
                        </div>
                        <div class="nav fr">
                            <ul>
                                <li><a href="/home">首页</a></li>
                                <li><a href="/pages/intro">产品介绍</a></li>
                                <li><a href="/pages/team">团队</a></li>
                                <li><a href="/pages/help">帮助</a></li>
                                <li><a href="#">个人中心</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bp"></div>
                <div class = "selfCen">
                    个人中心
                </div>
                <div class="bp"></div>
                <div class="coco">
                    <div class=" infoma fl">
                        <!--头像-->
                        <div class = "face">
                        </div>
                        <div class="selfin">
                            <div>
                                <label class="lll">姓名：</label>
                                <text class="rrr" th:utext="${uinfo.getNickName()}" ></text>
                            </div>
                            <div>
                                <label class="lll">账号：</label>
                                <text class="rrr" th:utext="${uinfo.getId()}" ></text>
                            </div>
                            <div>
                                <label class="lll">邮箱：</label>
                                <text class="rrr" th:utext="${uinfo.getEmail()}" ></text>
                            </div>
                        </div>
                        <div class="change2">
                            <div class = "mm">
                                <a href="#" type = "submit"  class = "button button-3d button-rounded button-highlight">修改</a>
                            </div>
                        </div>
                    </div>
                    <div class = "account fr">
                        <div class="account_title">
                            账户信息
                        </div>
                        <div class="account_balance">
                            <label class="lll">余额：</label>
                            <text class="rrr" th:utext="${deposit}+'元'" ></text>
                        </div>
                        <div class="account_mm">
                            <div class = "account_mm_charge">
                                <a href="#" type = "submit"  class = "button button-3d button-rounded button-highlight">充值</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </body>
</html>

