<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>INSTRUCTIONS</title>
    <link rel="stylesheet" href="/static/css/team.css" >
</head>
<body>
<div class="whole">
    <div class="blacksuit">
        <div class="header">
            <div class="nav fl">
                <ul>
                    <li>
                        <text style="color: white">Hello~ </text>
                    </li>
                </ul>
            </div>
            <div class="nav fr">
                <ul>
                    <li><a href="/home">首页</a></li>
                    <li><a href="#">产品介绍</a></li>
                    <li><a href="/team">团队</a></li>
                    <li><a href="/help">帮助</a></li>
                    <li><a href="/self">个人中心</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="height:30px"></div>
    <div class = "selfCen">
        团队介绍
    </div>
    <!--主要部分-->
    <div class = "middle">
        <div class = "school">
            <div style="height:10px"></div>
            <div class="school_title">组织介绍</div>
            <div class = "photo fl">
                <image class = "photo_inside" src="/static/img/timg.jpg">
            </div>
            <div class = "brief fl">
                北京外国语大学（Beijing Foreign Studies University）。外交官的摇篮”，坐落在北京市海淀区西三环北路。校训是“兼容并蓄、博学笃行”。
            </div>
            <div class = "brief fl">
                北京外国语大学信息科学技术学院。北外2009年成立计算机系，北外唯一的工科学院，2018年更名为信息科学技术学院。
            </div>
        </div>

        <div class="cutLine">
        </div>
        <div class = "member fl">
            <div class="member_title">主要成员</div>
            <div style="height:10px"></div>
            <div class="member_list">
                <div class="member_block fl">
                    <div class="member_pic fl">
                        <image src="/static/img/fsz.png" class="pic_inside">
                    </div>
                    <div class="member_name fl">方绍祖</div>
                    <div class="member_intro fl">
                        项目负责人，北外信科院2017级，独立音乐制作人，HipHop DANCER
                    </div>
                </div>
                <div class="member_block fl">
                    <div class="member_pic fl">
                        <image src="/static/img/ly.png" class="pic_inside">
                    </div>
                    <div class="member_name fl">吕盈</div>
                    <div class="member_intro fl">
                        北外国际商学院2017级，网易互娱游戏设计师。
                    </div>
                </div>
                <div class="member_block fl">
                    <div class="member_pic fl">
                        <image src="/static/img/cmy.png" class="pic_inside">
                    </div>
                    <div class="member_name fl">陈梦瑶</div>
                    <div class="member_intro fl">
                        北外信科院2018级，在校。
                    </div>
                </div>
                <div class="member_block fl">
                    <div class="member_pic fl">
                        <image src="/static/img/zyy.png" class="pic_inside">
                    </div>
                    <div class="member_name fl">朱源媛</div>
                    <div class="member_intro fl">
                        北外信科院2018级，在校。
                    </div>
                </div>
                <div class="member_block fl">
                    <div class="member_pic fl">
                        <image src="/static/img/wwq.png" class="pic_inside">
                    </div>
                    <div class="member_name fl">王文清</div>
                    <div class="member_intro fl">
                        北外信科院2019级，在校。
                    </div>
                </div>
                <div class="member_block fl">
                    <div class="member_pic fl">
                        <image src="/static/img/lly.jpg" class="pic_inside">
                    </div>
                    <div class="member_name fl">李璐旸</div>
                    <div class="member_intro fl">
                        项目指导老师，北外信科院讲师，2018级班主任。
                    </div>
                </div>
                <div class="member_block fl">
                    <div class="member_pic fl">
                        <image src="/static/img/liangye.jpg" class="pic_inside">
                    </div>
                    <div class="member_name fl">梁野</div>
                    <div class="member_intro fl">
                        网站设计指导老师，信息科学技术学院副教授，北外佛山研究院副院长。
                    </div>
                </div>
                <div class="member_block fl">
                    <div class="member_pic fl">
                        <!--image src="" class="pic_inside"-->
                    </div>
                    <div class="member_name fl"></div>
                    <div class="member_intro fl">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height:30px;"></div>
</div>
<div class = "footer">
    Copyright © 2020 BFSU All Right Reserved
</div>
</body>
</html>